%header.hero#home
  %div.hero-container
    %div.hero-text.center
      %div.hero-image
      %h1
        %div.title
          I am
          %div.typer
        %div.sub-title
          a front-end developer based in Toronto, Canada