%h2
  Posts
-@post.each do |post|
  %div.post_container
    %h2.post-title
      = link_to post.title, post
    %p.content
      = truncate(post.content, :length => 80)
    %p.date
      Posted on 
      = post.created_at.strftime("%B, %d, %Y")