// Colors
$blue: #63B1FF;
$white: #FFF;
$dark-blue: #498CFE;

$background-color: $blue;

// Typography
$main-font: 'Abel', sans-serif;
$base-font-size: 16px;

// structure
$navbar-height: 50px;

$base: 10px;
$half: $base / 2;
$double: $base * 2;
$triple: $base * 3;
